.contact-content {
    box-sizing: border-box;
    display: flex;
    padding: 100px 50px;
    top: -200px;
    margin-bottom: -100px;
  
}
.contact-area .form-control {
    height: 55px;
    width: 100%;
    background-color: #eef3f6;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
    border: none;
    border-radius: 0;
    padding: 15px 25px;
}
button, input {
    overflow: visible;
}
button {
    text-transform: none;
    display: inline-block;
    min-width: 160px;
    height: 65px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    font-size: 14px;
    line-height: 65px;
    border-radius: 2%;
    transition: all 500ms;
    background-image: linear-gradient(to right, #61ba6d 0%, #83c331 51%, #61ba6d 100%);
    font-weight: 600;

}