body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.A1-nav {
    font-size: 20px;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 22px;


}

ul li a {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.2rem;
    padding: 20px;
}

ul li a:hover {
    background-color: gainsboro;
    padding: 8px;
}


.about_us {
    display: flex;
    flex-direction: column;
}
.header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-color: white;
    box-shadow: 20px;
    background: #61ba6d;
    background-image: -webkit-linear-gradient(left, #61ba6d 0%, #83c331 51%, #61ba6d 100%);
    background-image: linear-gradient(to right, #61ba6d 0%, #83c331 51%, #61ba6d 100%);
    

}


    

.header-content {
    font-weight: 700;
    text-decoration: none;

}


/* info Part */

.info {
    display: flex;
    color: #F9FAF8;
    background: linear-gradient(90deg, #61ba6d 0%, #83c331 51%, #61ba6d 100%);
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.about {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.info button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #38f6ca;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 500px;
    height: 350px;
}

/* Content Part */

.content {
    align-items: center;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px green;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* Quotation Part */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

/* apply Part */
.apply {
    background-image: linear-gradient(to right, #61ba6d 0%, #83c331 51%, #61ba6d 100%);
    font-weight: 600;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.apply-item {
    flex: 1;
}

.apply-text {
    text-align: left;
}

.apply-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.apply-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: green;
    padding: 5px 25px;
    font-size: 15px;
}

.photoabout{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin: 30px;
    padding: 30px;
       
}
